*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 50px;

}
#Dashboard {
    margin-left: 150px;
}
#C, #D{
    font-weight: 600;
}

#colorContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#colorScaleReading {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    padding-left: 40px;

}
#colorScale {
    display: flex;
    flex-direction: row;
    height: 10px;
    padding-left: 40px;
    /* width: 400px; */
}

#colorScale div{
    width: 70px;
}

#countryList, li {
    list-style: none;
    cursor: pointer;
}
li:hover {
    background-color: #ccc;
}

#controlHeight {
    position: absolute;
    max-height: 500px;
    overflow: auto;
    min-width: 450px;
    z-index: 1;
    margin-right: 10px;
    margin-top: -10px;
    border-radius: 2%;
    background-color: white;
    display: none;
    right: 0;
    /* margin-right: 50px; */
}
#countryList li {
    border: 1px solid #ddd;
    padding: 10px;
}

/* input {
    width: 400px;
    padding: 12px;
    border: 1px solid #ddd;
    font-size: 15px;

} */

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .chart-container {
    display: inline-block;
    width: 100vh;
    height: 100vh;
    margin: 1% 2%; 
    vertical-align: top;
 }

 #barGraph{
     margin-bottom: 20px;
     /* height: 100vh; */
 }


path {
    stroke: rgb(170, 170, 180);
    stroke-width: 0.5px;
}

.country:hover{
    cursor: pointer;
}
.bar1:hover{
    cursor: pointer;
}
.country.active {
    /* stroke: #2c3e50; */
    /* stroke: rgb(64, 67, 68); */
    stroke: black;
    stroke-width: 3px;
}

.y-axis-label {
    font-size: 1em;
}
.tick text{
    font-size: 1.5em;
}

.tooltip {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    border: 4px solid #2c3e50;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 6px;
}

.tooltip p {
    margin: 2px;
}


footer {
    background-color: black;
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 100vh;
    }
    

    @import url(https://fonts.googleapis.com/css?family=Open+Sans);

    /* body{
      background: #f2f2f2;
      font-family: 'Open Sans', sans-serif;
    } */
    
    #search-container {
      width: 100%;
      position: relative;
      display: flex;
    }
    
    #searchBar {
      width: 100%;
      border: 3px solid black;
      border-right: none;
      padding: 5px;
      height: 20px;
      border-radius: 5px 0 0 5px;
      outline: none;
      color: #9DBFAF;
    }
    
    #searchBar:focus{
      color:black;
    }
    
    #searchButton {
      width: 40px;
      height: 36px;
      border: 1px solid black; 
      background: black;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 25px;
    }
    
    .wrap{
      z-index: 1;
      width: 30%;
      position: absolute;
      top: 18%;
      left: 50%;
      transform: translate(-50%, -50%);
    }



