@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    /* border: 1px solid forestgreen; */
}

body {
    display: flex;
    flex-direction: column; 
    height: 100vh; 
    margin:0;
}



.main-container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}



#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 50px;
    flex-wrap: wrap;
    align-self: center;
    width: 100%;
    box-sizing: border-box;
}


#C, #D{
    font-weight: 1000;
}

#colorContainer {
    display: flex;
    flex-direction: column;
}
#colorScaleReading {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    justify-content: space-between;
    padding-left: 40px;
    box-sizing: border-box;

}
#colorScale {
    display: flex;
    flex-direction: row;
    height: 10px;
    padding-left: 40px;

}

#colorScale div{
    width: 70px;
}

@media (max-width: 800px){
    #navbar {
        padding: 50px;
        width: 100vw;
        font-size: 50px;
    }
}



.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    /* z-index: 2; */
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .chart-container {
    display: inline-block;
    /* margin: 1% 2%;  */
    vertical-align: top;
 }

path {
    stroke: rgb(170, 170, 180);
    stroke-width: 0.5px;
}

.country:hover{
    cursor: pointer;
}
#barGraph1:hover{
    cursor: pointer;
}
#barGraph2:hover{
    cursor: pointer;
}
#barGraph3:hover{
    cursor: pointer;
}

.country.active {
    /* stroke: black; */
    stroke: black;
    stroke-width: 2px;
}

.y-axis-label {
    font-size: 1em;
}
.tick text{
    font-size: 1.5em;
}

.tooltip {
    opacity: 0;
    position: absolute;
    pointer-events: none;
    background-color: black;
    padding: 10px;
    color: white;
    font-weight: bold;
    /*  border-radius: 6px; */
}

.tooltip p {
    margin: 2px;
}


.search {
    width: 90%;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    position: relative;
}

#search-container {
    width: 500px;
    height: 40px;
    background: white;
    border: 1px solid gray;
    border-radius: 20px;
}
.content {
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;
}
input {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    height: 100%;
    background: transparent;
    /* font-size: 20px; */
}   

input:focus {
    outline: none;
}
i{
    flex: 0 0 auto;
    margin-left: 5px;
}


#countryList, li {
    list-style: none;
    cursor: pointer;
    padding: 10px;
}

li:hover {
    background-color: #ccc;
}
        
#controlHeight {
    position: absolute;
    max-height: 500px;
    overflow: auto;
    min-width: 450px;
    z-index: 5;
    border-radius: 2%;
    /* background-color: white; */
    display: none;
    margin-top: 20%;
    background-color: black;
    color: white;
}

@media (max-width: 600px){
    #controlHeight {
        margin-top: 35%;
    }
}

#controlHeight::-webkit-scrollbar {
    display: none;
}
  
#controlHeight {
    -ms-overflow-style: none;
}

@media (max-width: 600px){
    #controlHeight {
        margin-top: 500px;
    }
}


#footer{
    display: flex;
    flex-direction: row;
    /* justify-self: stretch;  */
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    height: 100px;
    width: 100%;
    color: #fff;
    padding: 20px 0;
}

#footer ul{
    display: flex;
    flex-direction: row;
    margin-right: 0;
}


#footer a {
    text-decoration: none;
    color: white;
}

#footer-text{
    text-transform: uppercase;
    font-size: 20px;
    opacity: 0.6;
    align-self: center;
}

@media (max-width: 1100px){
    #footer{
        flex-direction: column;
        height: 100px;
        width: 100vw;
    }
    #footer-text{
        text-align: center;
        margin-bottom: 20px;
    }
    #footer ul li{
        margin: 0 8px;
    }
}

#barGraph{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
    height: 100vh;
    font-size: 20px;
}

#barGraph1, #barGraph2, #barGraph3{
    display: block;
    position: relative;
    width: 100%;
    height: 30vh;
    margin-bottom: 3vh;
}

#bar1, #bar2, #bar3 {
    display: block;
    position: absolute;
}
    

#text-area p {
    padding-top: 20px;
    text-align: center;
}

#title-text {
    display: none;
    font-weight: bold;
}

#text-area {
    min-height: 200px;
    position: absolute;
    z-index: 4;
    margin: 5% 5%;
    font-size: 30px;
    padding: 30px;
    background: white;
    border-radius: 5px;
  }